name: Release

on: 
  push:
    tags: v*

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      MAVEN_OPTS: -Dhttp.keepAlive=false
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 17
        gpg-private-key: ${{ secrets.MAVEN_GPG_PRIVATE_KEY }}
        server-id: ossrh-release
        server-username: MAVEN_USERNAME
        server-password: MAVEN_PASSWORD
    - run: mvn clean deploy -B -V -e -ntp
      env:
        MAVEN_GPG_PASSPHRASE: ${{ secrets.MAVEN_GPG_PASSPHRASE }}
        MAVEN_USERNAME: ${{ secrets.OSSRH_USERNAME }}
        MAVEN_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
    - uses: ncipollo/release-action@v1
      with:
        artifacts: target/*.jar
        bodyFile: target/release.md
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: true
        generateReleaseNotes: true
    - run: >-
        for f in target/*.jar; do echo "Submitting file $f to VirusTotal..." && sleep 15 && curl -v -H "accept: application/json" -H "content-type: multipart/form-data" -H "x-apikey: ${{ secrets.VT_API_KEY }}" -F "file=@$f" https://www.virustotal.com/api/v3/files && echo && echo "File $f submitted to VirusTotal."; done
